<!DOCTYPE html>
{% extends 'shellfishapp/header.html' %}
{% block content %}
<html>
<head>
	<title>ShellFish</title>
	<style type="text/css">

	input[type=text],select {
	width:40%;
	padding: 10px 16px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	}


.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #008CBA;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */



		table,tr,th,td{
			border: 1px solid #66adff;
			border-collapse: collapse;
		}
		td{
			text-align: center;
			border-collapse: collapse;
		}
		th{
		text-align:center;
		border-collapse: collapse;
		}

	</style>
</head>
<body>

{% if messages%}
{% for message in messages %}
<h2 style="color:black;text-align:center;font-family: verdana;font-size: 25px">{{message}}</h2>
{% endfor %}
{% endif %}

<form method="POST" action="/Crab_taxoupdate/{{Crab_TaxonmyDistributionInsert.id}}" autocomplete="off">
	<div align="center">
		{% csrf_token %}

		<br>
		<fieldset style="width:80%;font-family: verdana;text-align:left;background: #e6f2ff">
			<legend style=" color:darkblue; text-align: center;font-family: Arial ;font-size: 25px; font-weight:bold">Crab Taxonomy & Distribution ( Data Edit Page )</legend>
			<table style="width: 100%">
				<tr>
					<!--
					<th colspan="3">
						<br>
						<label style="color:darkblue; font-size: 15px">Crab Id : </label>
						<label style="color:darkblue; font-size: 15px">{{Crab_TaxonmyDistributionInsert.id}}</label>
						<br><br>
					</th>
				-->
				</tr>
				<tr>
					
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Kingdom</label>
						<input type="text" style="font-size: 15px"  value="{{Crab_TaxonmyDistributionInsert.Kingdom}}" name="Kingdom"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Phylum</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.Phylum}}" name="Phylum"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Sub-Phylum</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.SubPhylum}}" name="SubPhylum"/>
						<br>
						<br>
					</th>
				</tr>
				<tr>
					
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Class</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.Class}}" name="Class"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Sub-Class</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.SubClass}}" name="SubClass">
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Super-Order</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.SuperOrder}}" name="SuperOrder"/>
						<br>
						<br>
					</th>
				</tr>
				<tr>
					
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Order</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.Order}}" name="Order"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Sub-Order</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.SubOrder}}" name="SubOrder"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Infra-Order</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.InfraOrder}}" name="InfraOrder"/>
						<br>
						<br>
					</th>
				</tr>
				<tr>
					
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Super-Family</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.SuperFamily}}" name="SuperFamily"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Family</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.Family}}" name="Family"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Sub-Family</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.SubFamily}}" name="SubFamily"/>
						<br>
						<br>
					</th>
				</tr>
				<tr>
					
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Genus</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.Genus}}" name="Genus"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Scientific Name</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.ScientificName}}" name="ScientificName"/>
						<br>
						<br>
					</th>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Taxonomic Rank</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.TaxonomicRank}}" name="TaxonomicRank"/>
						<br>
						<br>
					</th>
				</tr>
				<tr>
					
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Sub-Species</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.Subspecies}}" name="Subspecies"/>
						<br>
						<br>
					</th>
					<th colspan="2">
						<br>
						<label style="color:darkblue; font-size: 15px">Author</label>
						<input type="text" style="font-size: 15px" value="{{Crab_TaxonmyDistributionInsert.Author}}" name="Author"/>
						<br>
						<br>
					</th>
					
				</tr>
				
			
				<tr>
					<th>
						<br>
						<label style="color:darkblue; font-size: 15px">Accepted Valid Name</label>
						<br>
						<textarea rows="5" cols="50" style="font-size: 15px" id="AcceptedValidName" name="AcceptedValidName"> </textarea>
						<br>
						<br>
					</th>
					<th colspan="2">
						<br>
						<label style="color:darkblue; font-size: 15px">Main Reference</label>
						<br>
						<textarea rows="5" cols="50" style="font-size: 15px" id="MainReference" name="MainReference"> </textarea>
						<br>
						<br>
					</th>
				</tr>
				
				<tr>
					<th colspan="3">
						<br>
						<label style="color:darkblue; font-size: 15px">OriginType</label>
						<br>
						<textarea rows="5" cols="50" style="font-size: 15px" id="OriginType" name="OriginType"> </textarea>
						<br>
						<br>
					</th>
				</tr>
			</table>
			<input type="submit" class="button button1" value="Update Data"/>
			<a href ="{% url 'Crab_taxo_view' %}"><button type="button" class="button button1">Back</button></a>
			<br>
		</fieldset>
	</div>
</form>

<script>
{
  document.getElementById("AcceptedValidName").value="{{Crab_TaxonmyDistributionInsert.AcceptedValidName}}";
  document.getElementById("MainReference").value="{{Crab_TaxonmyDistributionInsert.MainReference}}";
  document.getElementById("OriginType").value="{{Crab_TaxonmyDistributionInsert.OriginType}}";
  document.getElementById("DistributionOutsideOfIndia").value="{{Crab_TaxonmyDistributionInsert.DistributionOutsideOfIndia}}";
}
</script>
</body>
</html>


{% endblock %}